####################################################################################################
# This is the default lombok.config which is placed in all java projects maintained by develop4edu #
# using lombok as a dependency. It must be placed in the root folder of the project where          #
# pom.xml is located. Other lombok.config files in subdirectories should not be used.              #
# If you have to make any change here, ensure that you change all other lombok.config files!       #
####################################################################################################

config.stopBubbling = true
lombok.accessors.chain = true
lombok.addLombokGeneratedAnnotation = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
